.home-page
	overflow: hidden
	height: 100%
	width: 100%

.home-slider
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 3
	.logo-center
		position: absolute
		left: 50%
		top: 10vh
		width: 270px
		max-width: 100%
		transform: translateX(-50%)
		z-index: 3
		img 
			max-width: 100%
	._overlay 
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(black, .3)
		z-index: 2
	canvas
		position: absolute
		top: 50%
		left: 50%
		width: 100%
		height: 100%
		z-index: 1
		pointer-events: none
		transform: translate(-50%, -50%)
	.distor-img
		display: none
.home-slide-item
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

	display: flex
	justify-content: center
	align-items: center
	z-index: 2
	background: none!important

	.bg-video
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		pointer-events: none

		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			overflow: hidden
			background: rgba(black, .3)
			z-index: 1
		video 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 0
.home-slide-container
	width: 900px
	max-width: 100%
	min-height: 160px
	position: relative
	z-index: 1
	.fx-wrap
		display: table
		overflow: hidden
		.fx-target
			// transform-origin: bottom right

	.slide_header
		display: flex
		align-items: center
		font-size: 24px
		color: #fff
		font-weight: bold
		margin-bottom: 10px
		.slash
			width: 1px
			height: 30px
			background: #fff
			margin-left: 15px
			margin-right: 15px
			transform: skewX(-25deg)

	.slide_title 
		margin-bottom: 28px
		display: table
		overflow: hidden
		h2 
			font-size: 45px
			color: #fff
			margin-bottom: 0
			letter-spacing: 1px

	.slide_description
		margin-bottom: 25px
		p 
			margin-bottom: 0px
			color: #fff
			font-weight: bold
			letter-spacing: 1px

	.slide_share
		display: flex
		align-items: center
		color: #fff
		display: flex
		align-items: center
		&-label 
			font-size: 16px
			cursor: pointer
			user-select: none
			display: flex
			align-items: center
			i.fas 
				margin-right: 10px
			svg 
				width: 30px
				fill: #fff
				margin-right: 10px
		a 
			display: block
			color: #fff
			margin-left: 15px

			&:hover
				// animation-name: bounceIn
				animation-duration: 1s

		.share-box 
			display: flex
			margin-left: 10px
			border: 1px solid #fff
			border-radius: 10px
			font-size: 14px
			padding: 5px 10px
			opacity: 0
			pointer-events: none
			input
				border: none
				background: none
				color: #fff
				width: auto
			&.active
				opacity: 1
				pointer-events: auto
	.more-info 
		color: #fff
		font-weight: 500
		font-size: 18px
		letter-spacing: 2px
		text-decoration: underline
		margin-bottom: 30px
		display: none!important
	.slide_play
		position: absolute
		display: block
		top: -10px
		right: 0
		width: 160px
		height: 160px
		display: flex
		justify-content: center
		align-items: center

		&:before 
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 160px
			height: 160px
			border-radius: 50%
			background: rgba(white, .6)
			transition: all .5s ease-in-out
		span 
			position: relative
			font-size: 18px
			font-weight: bold
			text-transform: uppercase
			color: black
			transition: all .3s ease-in-out
			transform: translateX(-10px)

		&:after 
			content: ''
			position: absolute
			top: 50%
			right: 56px
			width: 12px
			height: 12px
			border-top: 2px solid #353535
			border-right: 2px solid #353535
			transform: translateY(-50%) rotate(45deg)
			transition: all .2s ease-in-out


		&:hover
			span 
				color: #fff
				transform: translateX(-15px)
			&:before 
				animation-name: bounceIn
				animation-duration: 1s
				background: rgba($primary-color, .6)
			
			&:after
				border-top-color: #fff
				border-right-color: #fff
				right: 53px
				// transition-delay: .2s

	img.bg-img 
		display: none
	.nav-content
		display: none



.home-slide-nav
	position: absolute
	bottom: 50px
	width: 900px
	left: 50%
	transform: translateX(-50%)
	display: flex
	justify-content: space-between
	z-index: 3
	.text 
		font-size: 15.7px
		color: #fff
	
	.nav-next, .nav-prev
		width: 350px
		display: flex
		justify-content: space-between
		position: relative
		cursor: pointer
		&:before 
			content: ''
			position: absolute
			top: 100%
			left: 0
			width: 100%
			height: 1px
			background: #fff

		&:hover 
			&:before 
				background: $primary-color
	.nav-prev
		justify-content: flex-end


	.nav-prev:before 
		left: auto
		right: 0
	.nav-next
		.text 
			order: 1
	.num
		font-size: 15.7px
		color: #fff
	
	.nav-prev 
		padding-left: 24px
	.nav-prev:after 
		content: ''
		bottom: -1
		left: -2
		position: absolute
		border-top: 10px solid transparent
		border-right: 20px solid #fff
		border-bottom: 0
		border-left: 0
	.nav-next 
		padding-right: 24px
	.nav-next:after 
		content: ''
		bottom: -1
		right: -2
		position: absolute
		border-top: 10px solid transparent
		border-left: 20px solid #fff
		border-bottom: 0
		border-right: 0


.video-player-frame
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	z-index: 300
	top: 0
	left: 0
	width: 100%
	height: 100%
	padding: 0 10%
	overflow: hidden
	.bg-flex
		position: absolute
		top: 0
		left: 0
		background: black
		width: 160px
		height: 160px
		border-radius: 50%

	iframe
		width: 100%
		z-index: 2
		opacity: 0
		transition: opacity .3s ease-in-out
		&.active
			opacity: 1

	.x-close 
		position: absolute
		top: 15px
		right: 15px
		z-index: 3
		width: 30px
		height: 30px
		cursor: pointer
		
		&:before, &:after
			width: 100%
			height: 3px
			position: absolute
			content: ''
			background: #fff
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) rotate(45deg)
		&:after 
			transform: translate(-50%, -50%) rotate(-45deg)


.page-ham 
	position: fixed
	top: 50%
	left: 30px
	transform: translateY(-50%)

	z-index: 200
	.ct 
		position: absolute
		top: 10px
		transform: translate(0%, -100%)
		left: -15px
		padding-left: 0px
		pointer-events: none
		visibility: hidden
		overflow: hidden
		opacity: 0
		transition: all .3s ease-in-out
		ul 
			background: rgba(#000, .5)

			border-radius: 3px
			padding: 5px 0
		li > a
			display: block
			color: #fff
			white-space: nowrap
			padding: 5px 10px
			font-weight: bold
			&:hover 
				color: $primary-color
	&:hover 
		.ct 
			opacity: 1
			top: 0
			overflow: visible
			pointer-events: auto
			visibility: visible
			transform: translate(0%, -100%)

.video-list 
	padding-top: 50px
	overflow: hidden
.section-title 
	h3 
		font-size: 33px
		font-weight: bold
		margin-bottom: 30px
		color: #fff
		text-transform: uppercase
.video-list-row 
	// margin-left: -30px
	// margin-right: -30px
	// > [class*="col-"]
	// 	padding-left: 30px
	// 	padding-right: 30px

	// @media (min-width: 992px)
	// 	[class*="col-"]:nth-of-type(2n + 1)
	// 		transform: translateY(-40px)
.video-item
	margin-bottom: 40px
	.logo 
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		max-width: 300px
		z-index: 2
		z-index: 3
	.video-numb
		font-size: 22px
		color: #333
		font-weight: bold
		transition: all .5s ease-in-out
		position: relative
	.video-title 
		margin-top: 5px
		transition: all .5s ease-in-out
		position: relative
		h2
			font-size: 22px
			font-weight: bold
			color: #fff


	.video-thumb
		position: relative
		z-index: 1
		transition: all .5s ease-out
		.fixed-thumb
			padding-bottom: 56.25%
			&:before 
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(black, .3)
				z-index: 2 
		video 
			z-index: 4
			opacity: 0
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			transition: all .2s ease-in-out


	
	&:hover 
		@media (min-width: 768px)	
			// .video-numb
			// 	transform: translateY(120%)

			// .video-title
			// 	transform: translateY(-120%)

			.video-thumb 
				// transform: scale(1.2)

				video 
					opacity: 1
	
.more-info-block 
	display: block
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(#fff, .95)
	z-index: 1000
	padding: 20px
	display: none
	.content 
		display: flex
		align-items: center
	@media (min-width: 768px)
		display: none!important
	.back-btn
		position: relative
		font-size: 12px
		cursor: pointer
		svg 
			width: 25px
			margin-right: 5px
	.home-slide-container
		.slide_header
			color: black
			margin-top: 80px
		.slide_title h2
			color: black
		.slide_description p 
			color: black
			display: block!important
		.slide_share 
			display: flex!important
			color: black
			a 
				color: black

			.share-box 
				border-color: black
				input 
					color: black


.section.logo-works
	display: flex
	justify-content: center
	align-items: center
	padding-top: 30px
	.logo-center
		width: 250px
		max-width: 100%

.video-list._making-of-section
	padding-top: 90px

@media (min-width: 992px)
	.home-slide-container 
		.slide_title 
			h2
				padding-right: 180px
		.slide_description p
			padding-right: 180px

@media (min-width: 1366px)
	.home-slide-container 
		width: 70vw
		.slide_title 
			h2
				font-size: 4vw
		.slide_description
			p
				font-size: 2vw
		.slide_header
			font-size: 1.5vw
		.slide_share
			font-size: 2vw
		.slide_share-label
			font-size: 2vw
	.home-slide-nav 
		width: 70vw
		.text
			font-size: 1.5vw
		.nav-prev, .nav-next
			width: 40%


@media (max-width: 991px)
	
	
	.section.logo-works._work-section
		padding-top: 100px


	.home-slide-item
		padding: 0 15px



	.home-slide-container
		padding-right: 160px


	.page-ham
		left: 40px
		top: 17px
		transform: none


	.home-slide-nav
		width: 100%
		padding: 0 15px
		.nav-prev, .nav-next
			width: 230px


	.page-ham 	
		.ct
			top: 100%
			transform: translateY(10px)
			left: 0
			padding-left: 0
			padding-top: 5px
		&:hover 
			.ct
				transform: none
				top: 15px

@media (max-width: 767.82px)
	

	.home-slide-container 
		.slide-header
			font-size: 18px
		.slide_title 
			margin-bottom: 17px
			padding-right: 120px
			h2
				font-size: 36px
	.home-slide-container 
		padding-right: 0
		.slide_description 
			padding-right: 120px
			p
				// display: none

		.slide_share
			// display: none

		.slide_play
			width: 100px
			height: 100px
			top: 0
			&:before 
				width: 100px
				height: 100px
			span 
				font-size: 14px

			&:after
				right: 32px
			&:hover
				&:after 
					right: 29px
	

	.home-slider 
		.logo-center
			top: 60px
			width: 220px

	.page-ham
		top: 6px
		left: 15px
		transform: none

	.video-list
		padding-top: 50px
	.video-item 
		position: relative
		margin-bottom: 40px
		.video-thumb
			width: 50%
		.video-numb
			position: absolute
			top: 0
			left: 50%
			padding-left: 10px
		.video-title
			position: absolute
			width: 50%
			padding-left: 10px
			top: 40px
			left: 50%

	.section-title h3 
		font-size: 30px
@media (max-width: 575.82px)
	.home-slide-container 
		.slide_title
			h2
				font-size: 20px
		.slide_description 
			p
				font-size: 14px
	.video-list
		padding-top: 50px
	
	.video-item
		width: 100%
		max-width: 400px
		margin-left: auto
		margin-right: auto

	.home-slide-nav
		.nav-prev, .nav-next
			width: calc(100% / 2 - 50px)
			.text 
				opacity: 0


	.video-item 
		.video-numb
			font-size: 15px
		.video-title
			top: 24px
			h2
				font-size: 14px



@media (max-width: 400px)
	.home-slider .logo-center 
		text-align: center
		top: 70px
		img
			max-width: 150px
	.home-slide-container 
		.slide_play 
			width: 60px
			height: 60px
			span 
				font-size: 10px
			&:before 
				width: 60px
				height: 60px
			&:after 
				right: 15px
				width: 8px
				height: 8px
		.slide_title 
			padding-right: 70px
		.slide_description
			padding-right: 70px





@media screen and (orientation: landscape) 
	.isMobile 
		overflow: auto
		height: 100%
		
		body 
			width: 100vh
			height: 100%
			margin-left: auto
			margin-right: auto
			position: relative
		.home-slider
			width: 100vh
			height: 100%
			left: 50%
			transform: translateX(-50%)
			.logo-center 
				max-width: 130px
				top: 50px
		.site-header
			width: 100vh
			left: 50%
			transform: translateX(-50%)
		.page-ham
			left: calc((100vw - 100vh) / 2 + 15px)

		.home-slide-container 
			.slide_title h2
				font-size: 11px
			.slide_description p	
				font-size: 11px 
		.home-slide-nav .text
			font-size: 10px

		.home-slide-nav .nav-next, .home-slide-nav .nav-prev
			width: 150px

		.home-slider .logo-center


		.section.logo-works .logo-center
			max-width: 150px
		.video-item .video-title h2
			font-size: 15px
