
.home-slider
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
.home-slide-item
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

	display: flex
	justify-content: center
	align-items: center


.home-slide-container
	width: 900px
	min-height: 160px
	position: relative

	.slide_header
		display: flex
		align-items: center
		font-size: 24px
		color: #fff
		font-weight: bold
		margin-bottom: 10px
		.slash
			width: 1px
			height: 30px
			background: #fff
			margin-left: 15px
			margin-right: 15px
			transform: skewX(-25deg)

	.slide_title 
		margin-bottom: 28px
		h2 
			font-size: 45px
			color: #fff
			margin-bottom: 0

	.slide_description
		margin-bottom: 25px
		p 
			margin-bottom: 0px
			color: #fff

	.slide_share
		display: flex
		align-items: center
		color: #fff
		&-label 
			font-size: 16px
		a 
			display: block
			color: #fff
			margin-left: 15px
			&:hover
				animation-name: bounceIn
				animation-duration: 1s

	.slide_play
		position: absolute
		display: block
		top: -10px
		right: 0
		width: 160px
		height: 160px
		display: flex
		justify-content: center
		align-items: center

		&:before 
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 160px
			height: 160px
			border-radius: 50%
			background: rgba(#fff200, .6)
			transition: all .5s ease-in-out
		span 
			position: relative
			font-size: 18px
			text-transform: uppercase
			color: #353535
			transition: all .3s ease-in-out
			transform: translateX(-10px)

		&:after 
			content: ''
			position: absolute
			top: 50%
			right: 56px
			width: 12px
			height: 12px
			border-top: 2px solid #353535
			border-right: 2px solid #353535
			transform: translateY(-50%) rotate(45deg)
			transition: all .2s ease-in-out


		&:hover
			span 
				color: #fff
				transform: translateX(-15px)
			&:before 
				animation-name: bounceIn
				animation-duration: 1s
				background: black
			
			&:after
				border-top-color: #fff
				border-right-color: #fff
				right: 53px
				// transition-delay: .2s



.home-slide-nav
	position: absolute
	bottom: 50px
	width: 900px
	left: 50%
	transform: translateX(-50%)
	display: flex
	justify-content: space-between
	.text 
		font-size: 15.7px
		color: #fff
	
	.nav-next, .nav-prev
		width: 350px
		display: flex
		justify-content: space-between
		position: relative
		&:before 
			content: ''
			position: absolute
			top: 100%
			left: 0
			width: 100%
			height: 1px
			background: #fff
	.nav-prev:before 
		left: auto
		right: 0
	.num
		font-size: 15.7px
		color: #fff

